<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Description</th>
			<th scope="col">Address</th>
			<th scope="col">Location</th>
			<th scope="col">Image</th>
			<th scope="col">Cuisine</th>
			<th scope="col">Minimum Price</th>
			<th scope="col">Contact</th>
			<th scope="col">Locatity</th>
			<th scope="col">City</th>
			<th scope="col">Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of response">
			<td>
				{{item.name}}
			</td>
			<td>
				{{item.description}}
			</td>
            <td>
				{{item.address}}
			</td>
            <td>
				{{item.location}}
			</td>
            <td>
				{{item.image}}
			</td>
            <td>
				{{item.cuisine}}
			</td>
            <td>
				{{item.min_price}}
			</td>
            <td>
				{{item.contact}}
			</td>
            <td>
				{{item.locality}}
			</td>
            <td>
				{{item.city}}
			</td>
            <td>
                <button (click)="deleteRestaurant(item.name)">Delete</button>
			</td>
		</tr>
	</tbody>
</table>