<nav class="nav">
    <ul>
        <li class="li-right ">
            <a class="padded" routerLink="restaurants/viewrestaurants">Home</a>
        </li>
        <li class="li-right ">
            <a class="padded" routerLink="restaurants/addrestaurants">Add Restaurant</a>
        </li>
        <li class="li-right ">
            <a class="padded" routerLink="restaurants/deleterestaurants">Delete Restaurant</a>
        </li>
        <li class="li-right ">
            <a class="padded" routerLink="meals/viewmeals">View Meal</a>
        </li>
        <li class="li-right ">
            <a class="padded" routerLink="meals/addmeals">Add Meal</a>
        </li>
    </ul>
</nav>